@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.text-head-obs {
  color: #2f3274;
}
/*Animaciones*/
.reveal-on-scroll {
  opacity: 1; /* Visible por defecto en móvil */
  transform: none;
}

@media (min-width: 768px) {
  .reveal-on-scroll {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  .reveal-active {
    opacity: 1 !important;
    transform: translateX(0) !important;
  }
}
/* Estado base: Visible y sin movimiento (Móvil) */
.evolution-reveal {
  opacity: 1;
  transform: none;
}

/* Solo animamos en pantallas medianas hacia arriba */
@media (min-width: 768px) {
  .evolution-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .evolution-active {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
/*Services*/
.service-card-reveal {
  opacity: 1;
  transform: none;
}

@media (min-width: 768px) {
  .service-card-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .service-card-active {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
/*Projects*/
.project-card-reveal {
  opacity: 1;
  transform: none;
}

@media (min-width: 768px) {
  .project-card-reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s cubic-bezier(0.16, 1, 0.3, 1), 
                transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .project-card-active {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
/* Animación de entrada para el Hero (Desktop) */
@media (min-width: 768px) {
  .hero-entrance {
    animation: heroFadeIn 1s ease-out forwards;
  }
  .c-contacto {
    width: 70%;
  }
}

@keyframes heroFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Las industrias en móvil siempre visibles, en desktop con delay */
.industry-tag {
  opacity: 0.5;
}
.bg-call {
  /*background: #6461ff;
  background: linear-gradient(180deg,rgba(100, 97, 255, 1) 0%, rgba(137, 135, 255, 1) 85%);*/
  background: #F6F4FE;
}